.select {
    cursor: pointer;
    position: relative;
    height: fit-content;
    width: max-content;
    font-size: 12px;
}

.selection-btn {
    display: flex;
    gap: 8px;
}

/* Dropdown */
.dropdown {
    display: flex;
    flex-direction: column;
    width: auto;
    box-shadow: 0 4px 8px 4px #0000000d;
    background-color: transparent;
    border-radius: 0 0 8px 8px;
    position: absolute;
    top: calc(100% + 2px);
}

.dropdown .dropdown-item {
    padding: 10px 16px;
    font-size: 14px;
    background-color: white;
    list-style: none;
    cursor: pointer;
    transition: all 0.2s;
}

.dropdown .dropdown-item:hover {
    background-color: #f9faff;
}

.dropdown .dropdown-item:last-of-type {
    border-radius: 0 0 8px 8px;
}
