.icon-btn {
    border-radius: 8px;
    padding: 8px;
    background-color: white;
    border: 1px solid #ececec;
    cursor: pointer;
    transition: all 0.3s;
    width: 40px;
    height: 40px;
    position: relative;
}

.icon-btn:hover {
    background-color: #e9efff;
}

.icon-btn:hover::after {
    content: attr(title);
    width: max-content;
    padding: 6px 8px;
    background-color: #182432;
    font-family: "inter", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: white;
    transition: all 0.3s;
    text-align: center;
    position: absolute;
    bottom: calc(100% + 12px);
    left: 50%;
    transform: translateX(-50%);
}

.icon-btn:hover::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #182432;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
}
