@font-face {
    font-family: "inter";
    src: url("./fonts/inter.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins/Poppins-ExtraLight.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins/Poppins-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins/Poppins-SemiBold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins/Poppins-Medium.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif !important;
}

:root {
    --ExtraLight: 100;
    --Light: 200;
    --Bold: bold;
}

body {
    background-color: var(--blue-gray);
}

/* Card */
.card {
    padding: 24px 32px;
    border-radius: 16px;
    background: white;
    box-shadow: 2px 4px 40px 2px #cddfff26;
}

/* Badges */
.badge-sm-blue,
.badge-sm-pink {
    display: flex;
    align-items: center;
    height: 15px;
    padding: 0 4px;
    border-radius: 16px;
    font-size: 10px;
    font-weight: var(--Light);
}

.badge-sm-blue {
    background-color: #f0f6ff;
}

.badge-sm-pink {
    background-color: #fff3f0;
}

/* Other */
h1 {
    font-size: 20px;
    font-weight: bold;
    color: #1d4ed8;
}

h2 {
    font-size: 16px;
}
